
a {
    text-decoration: none;
    color:#828282;
}
/*-----------------------------------------*/
header{
    width: 100%;
    background-color: #fff;
    position: sticky;
    top: 0;
}
header a{
    color:#828282;
}
.col-top{
    max-width: 900px;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;

    display: flex;
    justify-content: space-between;
    padding-top: 1em;
    padding-bottom: 1em;
    border-bottom:solid 1px #f2f2f2;
}
.col-top .header_nav-sandwich{
    display: none;
}
.header_phone img{
    padding-right: 0.5em;
    position: relative;
    top: 4px;
    width: 18px;
    height: 18px;
}
.header_logo a{
    color: black;
}
.triangle1 {
    padding: 0;
    margin: 0;
    position: relative;
    top:-10px;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 50px solid #bf8e54;
}
.triangle2{
    position: relative;
    top: 3px;
    left:-44px;
    width: 0;
    height: 0;
    border-left: 44px solid transparent;
    border-right: 44px solid transparent;
    border-bottom: 44px solid white;
}
.triangle3{
font-size: 2rem;
  padding-top:10px;
margin-left: -105px;
    letter-spacing:0.2em;
}
.header_user-panel{
    display: flex;
}
.login-reg{
    display: flex;
    padding-right: 1em;
}
pre {
    margin-top:0em ;
    margin-top:0.2em ;


}

.number{
    text-align: center;
    font-size:0.9rem ;
    color: white;
    width: 18px;
    height: 18px;
    background-color: #c6a272;
    border-radius: 50%;
    margin-left: -12px;
}
.basket{
    height: 1em;
}
.wish{
    height: 1em;
}
.basket:hover .nav-icon{
    color: #ad8858;
}
.basket:hover .number{
    background-color: #ad8858;
}

.wish a{
    display: flex;
}
.wish img{
    position: relative;
    top:-3px;
}
.wish .number{
    color:gray;
    background-color: #f4f5f9;
}
.wish:hover .number{
    background-color: #c7c8cc;
}
.wish:hover .nav-icon{
    color: #ad8858;
}
.col-bottom{

    max-width: 900px;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;

    padding-top: 1em;
    padding-bottom: 1em;
    display: flex;
    justify-content:space-between;


    /*background-color: #3498db;*/
}
.header_nav{
    display: flex;
    font-size: 1.1em;
}
.nav_btn{
    margin-top: 4px;
    border-bottom: 8px double #828282;
    border-top: 3px solid #828282;
    content:"";
    height: 2px;
    width:1.3em;

}
.nav_btn:hover{
    border-bottom: 8px double #c6a272;
    border-top: 3px solid #c6a272;
}
.header_nav a{
    margin-right: 1.2em ;
}
.header_search img{
    width: 18px;
    height: 18px;
}
.search_min{
    display: none;
}
a:link{}
a:visited{}
a:focus{}
header a:hover{
    color:black;
}
a:active{}

.cart_on_click{
    display: none;
    width: 320px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    position: fixed;
    z-index: 10;
    top: 70px;
    right: 260px;
}
.cart_on_click-title{
    background-color: #f4f4f4;
    padding: 1em;
}
#cart_quantity_item{
    color:#c6a272 ;
}
.cart_on_click-body{
    max-height: 320px;
    padding-left: 1em;
    overflow: auto;
    background-color: #fff;
    font-weight: normal;
}
.cart_on_click-body img{
    width: 70px!important;
    height: 90px!important;
}
.cart_on_click-footer{
    border-top: 2px solid #f4f4f4;
    padding: 1em;
    background-color: #fff;
}
#cart_on_click-price {
    color: #000;
    font-size: 1em;
}

.submit-cart{
    margin-top: 1em;
    background-color: #c19663;
    color: #f4f4f4;
    text-align: center;
    padding: 0.5em;
}
.submit-cart:hover{
    background-color: #9e6a65;
}
.wish_on_click{
    display: none;
    width: 320px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    position: fixed;
    z-index: 10;
    top: 70px;
    right: 150px;
}
/*on click cart*/
.basket:active +.cart_on_click{
    display: initial;
}
.cart_on_click:hover {
    display: initial;
}
.sidebar-mask:active {
    display: none;
}

.wish:active +.wish_on_click{
    display: initial;
}
.wish_on_click:hover {
    display: initial;
}
.sidebar-mask:active {
    display: none;
}


.cart_on_click .sidebar-mask, .wish_on_click .sidebar-mask{
    z-index: -1;
    left: 0;
    margin-left:0;
}
.nav_click_block:hover {
    display: initial;
}

.sidebar-mask:active {
    display: none;
}