body{
    font-size: 1em;
    font-family: "Open Sans", Arial, Helvetica, sans-serif, SimSun;
    color:#4a4a4a;
    margin: 0;
    padding: 0;
}
.nav_proj{
    text-align: center;

}
.nav_proj a{
    border: solid 4px #cbe1ff;
    margin: 10px;
}
.first_cell{
    display: flex;
    flex-wrap: wrap;
    margin: 1.5em;
    font-size: 1.3rem;
}
.item_brand a{
    color: #cbb9a3;
}
.hat{
    background-color: #f4f4f4;
    background-image: url("../img/hat.png");
    background-repeat: no-repeat;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-end;
    padding: 1em;
    width: 520px;
    height: 290px;


}
.hat:hover a{
    color: #cb997f;
}
.hat .brand{
    padding-right: 5em;
}
.hat2{
    background-color: #f4f4f4;
    background-image: url("../img/hat2.png");
    background-repeat: no-repeat;
    background-position: bottom right;
    height: 80px;
    width: 170px;
    margin-left: 1em;
    padding: 1.8em;
    padding-bottom: 1.9em;

}
.hat2:hover a{
    color: #cb997f;
}

.boot{
    background-color: #f4f4f4;
    background-image: url("../img/boot.png");
    background-repeat: no-repeat;
    background-position: bottom right;
    height: 80px;
    width: 170px;
    padding: 1.8em;
    margin-left: 1em;
    padding-bottom: 1.9em;
    margin-bottom: 0.9em;
}
.boot:hover a{
    color: #cb997f;
}
.category{
    max-width: 1280px;
    margin-bottom: 1.3em;
    margin-top: 0.3em;
    background-color: #f4f4f4;
    height: 100px;
    text-align: center;
    font-size:1.3rem;

}
.category div {
    font-size:1rem;
    margin-top: 0.6em;
}
.container{
    max-width: 900px;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
}
.info{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    color: #676767;
    font-size: 1rem;
    justify-content: space-between;
    align-items: center;
}
.info_item span{
    padding: 1em;
}
.info_item img {
    position: relative;
    top:6px;
}
.line {
    border-bottom: #f2f2f2 double 6px;
    position: relative;
    bottom: 33px;
    display: flex;
    justify-content: center;
}
.arrival_header-text{
    width: 270px;
    padding: 1em;
    position: relative;
    top:33px;
    background-color: white;
    font-size: 1.4rem;
    text-align: center;
}
.latest_category{
    display: flex;
    justify-content: center;
    position: relative;
    left: -14px;
    top: -8px;
    font-size: 1.2rem;
}
.latest_item1{
    color:#c99f6f;
}
.container_clothes{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom:2em;

}
.latest_clothes_item{
    margin: auto;
    margin-bottom:1em;
}
.img_item{
    padding-top: 1em;
}
.img_item img{
    width: 170px;
    height: 226.66px;

}
.name_item{
    text-align: center;
}
.rating_item{
    position: relative;
    left:10px;
    width: 130px;
    background-image: url(../img/star_empty.png);
    margin: 1em;
    height: 18px;
}
.rating_item pre{
    height: 18px;
    text-align: center;
}
.price_item{
    text-align: center;
    font-weight: bold;
}
.star_full{
    width: 104px;
    background-image: url(../img/star_full.png);
}
.img_left_soft{
    width: 20px;
    height: 20px;
    padding-left: 1em;
    padding-right: 0.8em;
}
.img_right_soft{
    transform: scale(-1,1);
    width: 20px;
    height: 20px;
    padding-left: 0.8em;
    padding-right: 1em;

}
.line_soft div{
    display: flex;
    justify-content: center;
    position: relative;
    top: 27.5px;
    left:-16px;
    width: 90px;
    background-color:white;
}
.line_soft{
    padding-top: 1em;
    padding-bottom: 1em;
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 20px;
    text-align: center;
    width:100%;
    border-bottom: #f2f2f2 solid 2px;
}
.male_female{
    display: flex;
    justify-content: center;
    padding: 2em;
    flex-wrap: wrap;
}
.for_men{
    margin: 1em;
    background-color: #f4f4f4;
    height: 212px;
    width: 45%;
    min-width:245px;
    background-image: url(../img/for_men.png);
    background-position: bottom right;
    background-repeat: no-repeat;
}
.for_woman{
    width: 45%;
    margin: 1em;
    background-color: #f4f4f4;
    height: 212px;
    background-image: url(../img/for_girls.png);
    background-position: bottom right;
    background-repeat: no-repeat;
}
.grey_info_btn{
    height: 30px;
    width: 85px;
    min-width: 80px;
    background-color: #626262;
    color: #f4f4f4;
    border: none;
    cursor: pointer;
    position: relative;
    top: 60px;
    margin-left:1em ;
}
.for_woman:hover .grey_info_btn{
    background-color: #8f8f8f;
    color: #343434;

}
.for_men:hover .grey_info_btn{
    background-color: #8f8f8f;
    color: #343434;

}
.name_cat{
    color: #4a4a4a;
    font-size: 1.3rem;
    padding: 0.7em;
}
.col_season{
    color: #b2b2b2;
    padding-left: 1em ;
}
.border_male-female{
    margin: 6px;
    height: 195px;
    border: white 3px solid;
    position: relative;

    /*left: 7px;*/
}
.border_man{}
/*@media (max-width: 1023px) {*/
    /*.container{*/
        /*width: 100%;*/
    /*}*/
/*}*/
@media(max-width: 730px){
    .header_nav{
        display: none;
    }
    .header_phone{
        display: none;
    }
    .header_user-panel{
        display: none;
    }
    .header_logo{
        padding-left: 40vw;
    }
    .col-bottom .header_nav-sandwich{
        display: none;
    }
    .col-top .header_nav-sandwich{
        display: block;
        padding-right: 3vw;
    }
    .col-top{
        justify-content: baseline;
    }
    .search_min{
        display: none;
        padding-left: 36px;
        background: #f2f2f2;
        width: 100%;
        border-radius: 25px;
        line-height: 30px;
    }
    .col-bottom{
        width: 100%;
    }
    .header_search img{
        display: none;
    }
    header{
        min-width: 300px;
    }

}


@media(max-width: 885px) {
    .footer-center-row div {
        width: 43%;
    }
    .footer-col3 ul {
        padding-left: 0;
    }
}
@media(max-width: 827px) {
    .footer-top-row .row div{
        width: 46%;
        border: none!important;
        line-height: 2em;
    }

}
@media(max-width: 483px) {
    .footer-top-row .row div{
        width: 80%;
        text-align: center;
        border: none!important;
        line-height: 2em;
    }
    .footer-center-row div {
        width: 80%;
        text-align: center;
    }
    .footer-center-row ul {
        padding-left: 0;
    }
}
@media(max-width: 903px)  {
    .cell_boot_hat{
        margin-top: 1em;
        display: flex;
        justify-content: space-around;
    }
    .hat{
        width: 100%;
    }
    .first_cell{
        display: block;
        margin-right: 10vh;
    }
}
@media (max-width: 759px) {


}
@media (max-width: 499px) {
    .first_cell{
        font-size: 0.8rem;
    }
}
@media (max-width: 450px) {
    .hat , .hat2, .boot{
        background-size: 65%;
    }
    .brand and .item_brand{
        margin-top: 10px;
    }
}
@media(max-width: 370px){
    .hat , .hat2, .boot{
        background-size: 60%;
    }
}
@media(max-width: 413px){
    .latest_clothes_item{
        display: block;
        margin: auto;
        padding: 1em;
    }
}
@media(max-width: 812px){
    .male_female{
        display: block;
        width: 90%;
    }
    .for_woman, .for_men{
        width: 90%;
    }
    .name_cat,.col_season,.grey_info_btn{
        margin-left: 10vh;
        padding-left: 0;
    }
    .border_male-female{
        top:5px;
    }
}
@media(max-width: 493px){
    .name_cat,.col_season,.grey_info_btn{
        margin-left: 1vh;
        padding-left: 0;
    }
}
@media(max-width: 428px){
    .for_men,.for_woman{
        background-image: none;
    }
        .border_male-female{
            border: none;
        }
    .name_cat,.col_season,.grey_info_btn{
        margin-left: 30%;
    }
}
a:link{}
a:visited{}
a:focus{}
div a:hover{
    color:black;
}
a:active{}
.view_clothes_button{
    display: flex;
    justify-content: space-between;
    width: 126px;
    margin:auto;
    position: relative;
    bottom: 45px;
   opacity: 0;

}
.img_item:hover +.view_clothes_button{
    opacity:1;
}
.view_clothes_button:hover{
    opacity:1;
}
.add_to_basket{
    background-image: url(../img/btn_add_basket.png);
    width: 35px;
    height: 35px;
}
.add_to_wish{
    width: 35px;
    height: 35px;
    background-image: url(../img/btn_add_wish.png);
}
.view_item{
    width: 35px;
    height: 35px;
    background-image: url(../img/btn_big-size.png);
}
@media(max-width: 612px){
    .latest_container_clothes {
        justify-content: center;
    }
}
footer a:hover{
    color: white;
}
.about_main{
    /*width: 100px;*/
    border: 5px #f2f2f2 solid ;
    margin-top: 4em;
}
.about_container{
    border: 3px #f2f2f2 solid ;
    display: flex;
    justify-content: space-between;
    margin: 0.5em;
    padding: 2em;
}
.about_left{
    width: 20%;
    background-image: url(../img/about_main_l.png);
    background-position: bottom;
    background-repeat: no-repeat;
/*padding-right: 15vh;*/
}
.about_left_in-1{
    text-align: left;
    color: black;
    font-size: 1.5rem;
    padding-bottom: 0.5em;
}
.about_left_in-2{
    width: 2rem;
    border-bottom: #c7a085 2px solid;
}
.about_center{
    width: 55%;
}
.about_center_text{
    text-align: left;
    line-height: 1.5em;
}
.about_right{
    width: 20% ;
    background-image: url(../img/about_main_r.png);
    background-position: top;
    background-repeat: no-repeat;
}
.about_center-bot_panel{
    display: flex;
    padding-top: 2em;
    /*justify-content: center;*/
    align-items: center;
}
.block_btn-img1{
    background-image: url(../img/vk_icon.png);
    width: 32px;
    height: 24px;
}
.block_btn-img2{
    background-image: url(../img/fb_icon.png);
    width: 32px;
    height: 24px;
}
.block_btn-img3{
    background-image: url(../img/tw_icon.png);
    width: 32px;
    height: 24px;
}
.bot_panel-block_btn{
    display:flex;
    padding-left: 0.7em;
}
.block_btn-ch{
    background-color: #f4f4f4;
    height: 24px;
    display: flex;
    align-items: center;
    padding-left: 0.5em;
    padding-right: 0.5em;
}
@media(max-width: 400px){
    .header_logo{
       padding-left: 10vh;

    }
}
@media(max-width: 910px){
    .about_right{
        display: none;
    }
    .about_center{
        width: auto;
    }
    .about_left{
        padding-right: 1em;
    }
}
@media (max-width: 690px) {
    .about_container{
        display: block;
    }
    .about_left{
        background-image: none;
    }
    :root{
        font-size:0.9em;
    }
}
@media(max-width: 432px){
    .bot_panel-text{
        display: none;
    }
    .about_center-bot_panel{
     display: flex;
        justify-content: center;
        flex-wrap: wrap;

    }
    .bot_panel-block_btn{
        padding: 0.5em;

    }
}
.latest_clothes_item span{
    padding-bottom:1em ;

}
.latest_clothes_item span a{
    color: black;
    font-weight: bold;
    margin-bottom: 2em;
}
.btn_back{
    background-image: url(../img/arrow.png);
    width: 21px;
    height: 35px;
    margin-right: 128px;
}
.btn_next{
    background-image: url(../img/arrow.png);
    width: 21px;
    height: 35px;
    transform: scale(-1,1);
}
.back_next_btn{
    display: flex;
    position: relative;
    top:170px;
    padding: 0;
    margin: 0;
}
.img_mark_new{
    width: 36px;
    height: 36px;
    background-image: url(../img/new_mark.png);
}
.img_mark_sale{
    width: 36px;
    height: 36px;
    background-image: url(../img/sale_mark.png);
}
.img_mark_best{
    width: 36px;
    height: 36px;
    background-image: url(../img/best_mark.png);
}
.mark{
    position: relative;
    top:115px;
    left: 10px;
    margin: 0;
}
.invisible{
    visibility: hidden;
}
.brand_img_container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 2em;
}
.brand_img_container img{
    margin:auto;
}
.first_cell_mango{
    font-size: 1.3rem;

}
.mango{
    height: 221px;
    background-color: #f4f4f4;
    background-image: url(../img/mango1.png);
    background-repeat: no-repeat;
    background-position: left;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.calambetta{
    background-color: #f4f4f4;
    background-image: url("../img/calambeta.png");
    background-repeat: no-repeat;
    background-position: bottom right;
    height: 90px;
    width: 36%;
    margin-left: 1em;
    padding: 1.8em;
    padding-bottom: 1.9em;

}
.hat2:hover a{
    color: #cb997f;
}

.jeans_blue{
    background-color: #f4f4f4;
    background-image: url("../img/odji_blue.png");
    background-repeat: no-repeat;
    background-position: bottom right;
    height: 90px;
    width: 36%;
    padding: 1.8em;
    padding-bottom: 1.9em;
}
.mango .brand, .mango .item_brand{
    position: relative;
    left: 50px;
}

/*@media(max-width: 800px){*/
    /*.mango .brand + .mango .item_brand{*/
    /*position: relative;*/
        /*left: 50px;*/
    /*}*/

/*}*/
.boot:hover a{
    color: #cb997f;
}
.second_cell{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
@media(max-width: 511px){
    .second_cell{
        justify-content: center;
    }
    .jeans_blue{
        margin-bottom: 2em;
    }
    .calambetta{
        margin-left: 0;
    }
}
.aside_left{
    min-width: 190px;
    font-size: 0.8rem;
    display: block;
    margin-right: 20px;
}
.aside_left {
    line-height: 12px ;
}
.aside_left .line{
    position: initial;
    margin-bottom: 1em;
}
.content{
    width: 100%;
}
.invisible_none{
    display: none;
}
@media(max-width: 730px){
    .aside_left {
        display: none;
    }
    .second_cell{
        display: block;
    }
    .jeans_blue{
        margin: auto;
        margin-bottom: 1em;
    }
    .calambetta{
        margin: auto;
    }
}
@media(max-width: 578px) {
    .calambetta,.jeans_blue{
        background-image: none;
        text-align: center;
    }
}
@media(max-width: 477px) {
    .mango{
        background-image: none;
    }
    .mango .brand , .mango .item_brand {
        position: initial;
    }
}
footer{
    margin-top:2em;
}
.user_panel_cat + .line{
    position: initial;
    height: 18px;
}

.user_panel_cat{
    display: flex;
    font-size: 0.8rem;
    justify-content: space-between;
}
.pager_cat{
    display: flex;

}
.pager_cat .btn_back{
    margin: initial;
    display: none;
    border: black 1px solid;
    height: 28px;
}
.pager_cat .btn_next{
    border:#f0f0f0 1px solid;
    background-position:0 ,5px;
    height: 28px;


}
#btn_line_cat{
    width: 28px;
    height: 30px;
    background-image: url(../img/btn_line_cat.png);
}
#btn_block_cat{
    width: 28px;
    height: 30px;
    background-image: url(../img/btn_block_cat.png);
}
.aside_head{
    height: 35px;
    position: relative;
    top:20px;
    font-size: 1rem;
    font-weight: bold;
}
.find_item_cat {
    display: flex;
    align-items: center;
    color: #adadad;
    padding-left:0.5em ;
    padding-right: 0.5em ;
}
.sort_item_cat{
    display: flex;
    align-items: center;
    color:#595959;
}
.btn_sort_cat select{
    border:none;
    background-color: #f4f4f4;
    height: 30px;
}
.page_cat{
    width: 28px;
    border: 1px solid #f0f0f0 ;
    display: flex;
    align-items: center;
    justify-content: center;
}
.this_page_cat{
    background-color: #f4f4f4;
}
.btns_sorted{
    display: flex;
}
@media(max-width: 540px){
    .find_item_cat{
        display: none;
    }
    .sort_item_cat span{
        display: none;
    }
}
.price_range_line{
    width: 100%;
}
.range_field{
    margin-top: 1em;
    display: flex;
    justify-content: space-between;
}
.range_field input{
    width: 70px;
    background-color: #f4f4f4;
    background-image: url(../img/rub.png);
    background-position: right;
    background-repeat: no-repeat;
    border: none;
    height: 26px;
    padding-left: 0.4em;
}
.aside_left hr{
    margin-bottom: 2em;
    margin-top: 2em;

    background-color:#f4f4f4;
    border: none;
    height: 2px;
}
.item_cat_cat{
    line-height: 1.6em;
}
.active_cat_cat a{
    color:#c99f6f;
}
.size_cat_jeans {
    line-height:3em;
}
.close_cat{
    position: relative;

}
.size_cat_jeans-head, .brand_cat_container{
    display: flex;
    justify-content: space-between;
    font-weight: bold;

}
.close_cat{
    color:#c99f6f;
}
.open_cat_item{
    font-size: 1rem;
    color: #a5a5a5;
}

/*margin and padding classes*/
.marg_1em_bot{
    margin-bottom: 1em;
}
.marg_1em_top{
    margin-top: 1em;
}
.marg_1em_left{
    margin-left: 1em;
}
.marg_1em_right{
    margin-right: 1em;
}

.marg_2em_bot{
    margin-bottom: 2em;
}
.marg_2em_top{
    margin-top: 2em;
}
.marg_2em_left{
    margin-left: 2em;
}
.marg_2em_right{
    margin-right: 2em;
}

.marg_0_5em_bot{
    margin-bottom: 0.5em;
}
.marg_0_5em_top{
    margin-top: 0.5em;
}
.marg_0_5em_left{
    margin-left: 0.5em;
}
.marg_0_5em_right{
    margin-right: 0.5em;
}
/***************************/
/**********font bold************/
.f_bold{
    font-weight: bold;
}
/***************Display:flex***************/
.dis_flex{
    display: flex;
}
.df_ai_c{
    display: flex;
    align-items: center;
}
/***************border******************/
.brd_bot{
    border-bottom: 2px solid #f4f4f4;
}
.brd_top{
    border-top: 2px solid #f4f4f4;
}