.first_cell{
    display: flex;
    flex-wrap: wrap;
    margin: 1.5em;
    font-size: 1.3rem;
}
.item_brand a{
    color: #cbb9a3;
}
.hat{
    background-color: #f4f4f4;
    background-image: url("../img/hat.png");
    background-repeat: no-repeat;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-end;
    padding: 1em;
    width: 530px;
    height: 290px;

}
.hat .brand{
    padding-right: 5em;
}
.hat2{
    background-color: #f4f4f4;
    background-image: url("../img/hat2.png");
    background-repeat: no-repeat;
    background-position: bottom right;
    height: 80px;
    width: 170px;
    margin-left: 1em;
    padding: 2em;

}

.boot{
    background-color: #f4f4f4;
    background-image: url("../img/boot.png");
    background-repeat: no-repeat;
    background-position: bottom right;
    height: 80px;
    width: 170px;
    padding: 2em;
    margin-left: 1em;
    margin-bottom: 0.9em;
}
.category{
    max-width: 1280px;
    margin: auto;
    background-color: #f4f4f4;
}
.container{
    max-width: 900px;
    margin: auto;
}
.info{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    color: #676767;
    font-size: 1rem;
    justify-content: space-between;
    align-items: center;
}
.info_item span{
    padding: 1em;
}
.info_item img {
    position: relative;
    top:6px;
}
.line {
    border-bottom: #f2f2f2 double 6px;
    position: relative;
    bottom: 33px;
    display: flex;
    justify-content: center;
}
.arrival_header-text{
    width: 270px;
    padding: 1em;
    position: relative;
    top:33px;
    background-color: white;
    font-size: 1.5rem;
}
.latest_category{
    display: flex;
    justify-content: center;
    position: relative;
    left: -14px;
    top: -8px;
    font-size: 1.2rem;
}
.latest_item1{
    color:#c99f6f;
}
.latest_container_clothes{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}
.latest_clothes_item{
    margin: 1em;
}
.img_item img{
    width: 170px;
    height: 226.66px;
}
.name_item{
    text-align: center;
}
.rating_item{
    position: relative;
    left:10px;
    width: 130px;
    background-image: url(../img/star_empty.png);
    margin: 1em;
    height: 18px;
}
.rating_item pre{
    height: 18px;
    text-align: center;
}
.price_item{
    text-align: center;
    font-weight: bold;
}
.star_full{
    width: 104px;
    background-image: url(../img/star_full.png);
}
.img_left_soft{
    width: 20px;
    height: 20px;
    padding-left: 1em;
    padding-right: 0.8em;
}
.img_right_soft{
    transform: scale(-1,1);
    width: 20px;
    height: 20px;
    padding-left: 0.8em;
    padding-right: 1em;

}
.line_soft div{
    display: flex;
    justify-content: center;
    position: relative;
    top: 27.5px;
    left:-16px;
    width: 90px;
    background-color:white;
}
.line_soft{
    padding-top: 1em;
    padding-bottom: 1em;
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 20px;
    text-align: center;
    width:100%;
    border-bottom: #f2f2f2 solid 2px;
}
.male_female{
    display: flex;
    justify-content: center;
    padding: 2em;
    flex-wrap: wrap;
}
.for_men{
    margin: 1em;
    background-color: #f4f4f4;
    height: 212px;
    width: 45%;
    min-width:245px;
    background-image: url(../img/for_men.png);
    background-position: bottom right;
    background-repeat: no-repeat;
}
.for_woman{
    width: 45%;
    margin: 1em;
    background-color: #f4f4f4;
    height: 212px;
    background-image: url(../img/for_girls.png);
    background-position: bottom right;
    background-repeat: no-repeat;
}
.grey_info_btn{
    height: 30px;
    width: 85px;
    min-width: 80px;
    background-color: #626262;
    color: #b4b4b4;
    border: none;
    cursor: pointer;
    position: relative;
    top: 60px;
    margin-left:1em ;
}
.name_cat{
    color: #4a4a4a;
    font-size: 1.3rem;
    padding: 0.7em;
}
.col_season{
    color: #b2b2b2;
    padding-left: 1em ;
}
.border_male-female{
    margin: 6px;
    height: 195px;
    border: white 3px solid;
    position: relative;

    /*left: 7px;*/
}
.border_man{}
@media (max-width: 1023px) {
    .container{
        width: 100%;
    }
}
@media(max-width: 730px){
    .header_nav{
        display: none;
    }
    .header_phone{
        display: none;
    }
    .header_user-panel{
        display: none;
    }
    .header_logo{
        padding-left: 40vw;
    }
    .col-bottom .header_nav-sandwich{
        display: none;
    }
    .col-top .header_nav-sandwich{
        display: block;
        padding-right: 3vw;
    }
    .col-top{
        justify-content: baseline;
    }
    .search_min{
        display: none;
        padding-left: 36px;
        background: #f2f2f2;
        width: 100%;
        border-radius: 25px;
        line-height: 30px;
    }
    .col-bottom{
        width: 100%;
    }
    .header_search img{
        display: none;
    }
    header{
        min-width: 300px;
    }
}


@media(max-width: 885px) {
    .footer-center-row div {
        width: 43%;
    }
    .footer-col3 ul {
        padding-left: 0;
    }
}
@media(max-width: 827px) {
    .footer-top-row .row div{
        width: 46%;
        border: none!important;
        line-height: 2em;
    }

}
@media(max-width: 483px) {
    .footer-top-row .row div{
        width: 80%;
        text-align: center;
        border: none!important;
        line-height: 2em;
    }
    .footer-center-row div {
        width: 80%;
        text-align: center;
    }
    .footer-center-row ul {
        padding-left: 0;
    }
}
@media (max-width: 759px) {
    .hat{
        width: 100%;
    }
    .first_cell{
        display: block;
    }
    .cell_boot_hat{
        margin-top: 1em;
        display: flex;
        justify-content: space-around;
    }
}
@media (max-width: 499px) {
    .first_cell{
        font-size: 0.8rem;
    }
}
@media (max-width: 383px) {
    .hat , .hat2, .boot{
        background-size: 75%;
    }
}
@media(max-width: 413px){
    .latest_clothes_item{
        display: block;
        margin: auto;
        padding: 1em;
    }
}
@media(max-width: 812px){
    .male_female{
        display: block;
        width: 90%;
    }
    .for_woman, .for_men{
        width: 90%;
    }
    .name_cat,.col_season,.grey_info_btn{
        margin-left: 10vh;
        padding-left: 0;
    }
    .border_male-female{
        top:5px;
    }
}
@media(max-width: 493px){
    .name_cat,.col_season,.grey_info_btn{
        margin-left: 1vh;
        padding-left: 0;
    }
}
@media(max-width: 428px){
    .for_men,.for_woman{
        background-image: none;
    }
        .border_male-female{
            border: none;
        }
    .name_cat,.col_season,.grey_info_btn{
        margin-left: 30%;
    }
}