@media(max-width: 885px) {
    .footer-center-row div {
        width: 43%;
    }
    .footer-col3 ul {
        padding-left: 0;
    }
}
@media(max-width: 827px) {
    .footer-top-row .row div{
        width: 46%;
        border: none!important;
        line-height: 2em;
    }

}
@media(max-width: 483px) {
    .footer-top-row .row div{
        width: 80%;
        text-align: center;
        border: none!important;
        line-height: 2em;
    }
    .footer-center-row div {
        width: 80%;
        text-align: center;
    }
    .footer-center-row ul {
        padding-left: 0;
    }
}
@media(max-width: 730px){
    .header_nav{
        display: none;
    }
    .header_phone{
        display: none;
    }
    .header_user-panel{
        display: none;
    }
    .header_logo{
        padding-left: 70px;
    }
    .col-bottom .header_nav-sandwich{
        display: none;
    }
    .col-top .header_nav-sandwich{
        display: block;
    }
    .col-top{
        justify-content: baseline;
    }
    .search_min{
        display: none;
        padding-left: 36px;
        background: #f2f2f2;
        width: 100%;
        border-radius: 25px;
        line-height: 30px;
    }
    .col-bottom{
        width: 100%;
    }
    .header_search img{
        display: none;
    }
    header{
        min-width: 300px;
    }
}